/* Styles personnalisés pour Express Voitures */

.btn-express {
    background-color: #D9A963;
    border-color: #D9A963;
    color: #000000;
}

    .btn-express:hover {
        background-color: #B99055;
        border-color: #B99055;
        color: #fff;
    }

.btn-express:focus {
    box-shadow: 0 0 0 0.25rem rgba(227, 163, 59, 0.25);
}

.text-express {
    color: #E3A33B;
}

.bg-express {
    background-color: #ac7c30;
}
