@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0 rounded my-4">
            <div class="card-header bg-white py-3">
                <h2 class="text-center fs-4 m-0">EXPRESS VOITURE</h2>
            </div>
            <div class="card-body p-4">
                <form id="account" method="post" asp-route-returnUrl="@Url.Action("Index", "Voitures")">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>


                    <div    style="display: flex; justify-content: center; align-items: center;">
                        <button aria-label="Button pour se connecter" id="login-submit" type="submit" class="btn btn-express">Se connecter</button>
                        <span style="padding-inline:10px ">ou</span>
                        <a aria-label="Button pour se s'inscrire" id="registerSubmit" class="btn btn-express" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
