@model bool

@if (Model)
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Voitures" asp-action="Admin">
            <i class="bi bi-gear"></i> Administration
        </a>
    </li>
}
