<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Express Voitures</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/express-voitures.css" asp-append-version="true" />
</head>
<body class="bg-white">
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-none">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Voitures" asp-action="Index" style="font-weight: 400; color: #E3A33B;">
                    Express Voitures
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-link" asp-area="" asp-controller="Voitures" asp-action="Index" style="color: #000;">
                                Accueil
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                        <a class="nav-link btn btn-link" asp-action="Create" style="color: #000;">
                                    Ajouter une voiture
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form class="d-flex justify-content-center align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Voitures", new { area = "" })" method="post">
                                    <button id="logoutBtn" type="submit" class="nav-link btn btn-link w-100 text-center" style="color: #000; ">
                                        Déconnexion
                                    </button>
                                </form>
                            }
                            else
                            {
                                <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Login" style="color: #000;">
                                    Connexion
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container py-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="py-4 mt-5 text-center border-top bg-white" style="color: #696969;">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Express Voitures</p>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
